* {
    margin: 0;
    padding: 0;
}

ol {
    padding: 20px;
}

li {
    list-style: none;
    display: inline;
    padding: 0 25px;
}

nav {
    background-color: black;
    color: white;
}

header{
    position: sticky;
    top: 0;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: aqua;
}

.box{
    background-color: blue;
    height: 35vh;
    width: 23.5vw;
    margin: 5px;
}

.box1{
    background-color: red;
    height: 35vh;
    width: 24vw;
    margin: 5px;
}

.box2{
    background-color: yellow;
    height: 35vh;
    width: 24vw;
    margin: 5px;
}

.box3{
    background-color: greenyellow;
    height: 35vh;
    width: 24vw;
    margin: 5px;
}

.box4{
    background-color: chocolate;
    height: 35vh;
    width: 24vw;
    margin: 5px;
}

.box5{
    background-color: purple;
    height: 35vh;
    width: 23.5vw;
    margin: 5px;
}

.box6{
    background-color: gold;
    height: 35vh;
    width: 24vw;
    margin: 5px;
}

.box7{
    background-color: pink;
    height: 35vh;
    width: 24vw;
    margin: 5px;
}

.box8{
    background-color: rgb(193, 15, 68);
    height: 35vh;
    width: 24vw;
    margin: 5px;
}

.box9{
    background-color: rgb(255, 68, 0);
    height: 35vh;
    width: 23.5vw;
    margin: 5px;
}

.box10{
    background-color: rgb(255, 0, 247);
    height: 35vh;
    width: 24vw;
    margin: 5px;
}

.box11{
    background-color: rgb(255, 0, 0);
    height: 35vh;
    width: 24vw;
    margin: 5px;
}

.box12{
    background-color: rgb(23, 204, 50);
    height: 35vh;
    width: 24vw;
    margin: 5px;
}

.box13{
    background-color: rgb(255, 77, 0);
    height: 35vh;
    width: 23.5vw;
    margin: 5px;
}

.box14{
    background-color: rgb(170, 170, 186);
    height: 35vh;
    width: 24vw;
    margin: 5px;
}

.box15{
    background-color: rgb(0, 195, 255);
    height: 35vh;
    width: 24vw;
    margin: 5px;
}

.box16{
    background-color: rgb(69, 47, 22);
    height: 35vh;
    width: 23.5vw;
    margin: 5px;
}

.box17{
    background-color: rgb(215, 113, 17);
    height: 35vh;
    width: 24vw;
    margin: 5px;
}

.box18{
    background-color: rgb(172, 11, 11);
    height: 35vh;
    width: 24vw;
    margin: 5px;
}

.box19{
    background-color: rgb(182, 4, 173);
    height: 35vh;
    width: 24vw;
    margin: 5px;
}