#box {
    background-color: blue;
    /* color: white; */
}
/* .heading {
    color: red;
} */
h1,h2,h3 {
    color:red;
}
button {
    background-color: green;
}
p {
    text-align: center;
}
h1 {
    text-align: center;
}